td {
    border: 1px solid black;
    margin: 0;
}

.ingredient-name {
    width: 12rem;
}

.ingredient-measurement {
    width: 6rem;
}

.unit-select {
    width: fit-content;
}

tr {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 1rem;
}

tbody:nth-child(even) {
    background-color: lightgray;
}

