.toggle-measure {
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-percent input {
    width: 3rem;
}

.autoconvert {
    display: flex;
    align-items: center;
}