form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.ingredient-input {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    align-items: center;
}

input {
    height: 1.5rem;
}

#ingredientNameInput {
    width: 10rem;
    margin: 1rem;
}

#ingredientAmtInput {
    width: 5rem;
}

#measurementSelect {
    margin: 1rem;
}


.viewEditRecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}